@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ezDoctorOffice_2.Models.LoginViewModel
@{
    ViewBag.Title="Login";
}
@section Script{
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
<h3>Login</h3>
<form method="post" novalidate>
    <div asp-validation-summary="ModelOnly"></div>
	
	<label asp-for="UserName">User Name</label>
	<input asp-for="UserName"/>
	<span asp-validation-for="UserName"></span>
    <br>
	<label asp-for="Password">Password</label>
    <input asp-for="Password"/>
	<span asp-validation-for="Password"></span>
	<br>
	<input type="submit" value="Login"/>
</form>